<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ayc.service.app.dao.mapper.AycOitBuyMapper" >
  <resultMap id="BaseResultMap" type="com.ayc.service.app.entity.AycOitBuyEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="cash" property="cash" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uid, status, price, num, created_at, cash
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ayc_oit_buy
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ayc_oit_buy
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ayc.service.app.entity.AycOitBuyEntity" >
    insert into ayc_oit_buy (id, uid, status, 
      price, num, created_at, 
      cash)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{status,jdbcType=TINYINT}, 
      #{price,jdbcType=DECIMAL}, #{num,jdbcType=INTEGER}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{cash,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.ayc.service.app.entity.AycOitBuyEntity" >
    insert into ayc_oit_buy
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="cash != null" >
        cash,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="cash != null" >
        #{cash,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ayc.service.app.entity.AycOitBuyEntity" >
    update ayc_oit_buy
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="cash != null" >
        cash = #{cash,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ayc.service.app.entity.AycOitBuyEntity" >
    update ayc_oit_buy
    set uid = #{uid,jdbcType=INTEGER},
      status = #{status,jdbcType=TINYINT},
      price = #{price,jdbcType=DECIMAL},
      num = #{num,jdbcType=INTEGER},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      cash = #{cash,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>